/* Hoja de estilos única para todas las páginas */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: url(../img/fondo.jpg);
    background-size: 100% 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#contenedor {
    width: 800px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.698);
    box-shadow: 0px 0px 50px #205d97;
    border-left: 10px solid black;
    border-right: 10px solid black;
    padding: 40px;
    word-wrap: break-word;
}
li a {
    color: rgb(165, 112, 15);
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
}
a {
    color: rgb(165, 112, 15);
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
}
li a:hover{
    background-color: red;
    color: yellow;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    transition: 1s ease-in-out;
}
ul{
    list-style-image: url(../img/escudo.png);
}
ol{
    list-style-type: upper-roman;
    margin-left: 10px;
}
ol li{
    font-size: 24px;
}
.logo{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}
p{
    margin-bottom: 20px;
    margin-top: 10px;
}
div div{
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.907);
}
img{
    float:right;
}
h1 {
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 50px;
}
h2{
    font-family: 'Signika', sans-serif;
    background-color: orange;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 15px;
}
